header{
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    border:1px solid black;
    margin-left: 7rem;
    margin-right: 7rem;

}

header h3{
    margin-top: 40px;

}
header form{

    margin-bottom: 50px;
}
header input{
    width: 80%;
    height: 2rem;
    
}
header button{
    height: 30px;
    margin-left: 20px;
    width: 100px;
    background-color: burlywood;
    border-radius: 18px;

}

.video{
    display: flex;
    margin-top: 5rem;    
}
#videoplayer{
    display: flex;
    height: 40rem;
    width: 50rem;
    margin-left: 100px;
    flex-direction: column;
   
    
    

}

#videoplayer #mainvideo{
    height: 30rem;
    width: 50rem
    
    
}
#videoplayer #description{
    margin-top: 10px;
    border: 1px ridge whitesmoke;
   
}
.relatedvideos{
    display: flex;
    margin-left: 5rem;
    flex-direction: column;
    
    
}

#related0{
    display: flex;
    margin-bottom: 5px;
    border-bottom: 1px solid slategray;
   
    
}
#title0{
    margin-top: 30px;
    margin-left: 20px;

}
#related1{
    display: flex;
    
    margin-top: 20px;
    border-bottom: 1px solid slategray;

}
#title1{
    margin-top: 30px;
    margin-left: 20px;

}
#related2{
    display: flex;
    
    margin-top: 20px;
    border-bottom: 1px solid slategray;

}
#title2{
    margin-top: 30px;
    margin-left: 20px;
    

}
#related3{
    display: flex;
   
    border-bottom: 1px solid slategray;
    margin-top: 20px;
}
#title3{
    margin-top: 30px;
    margin-left: 20px;

}
#related4{
    display: flex;
    border-bottom: 1px solid slategray;
    margin-top: 20px;

}
#title4{
    margin-top: 30px;
    margin-left: 20px;

}

/* #related0{
    width: 30rem;
    height: 10rem;
}
#related1{
    width: 30rem;
    height: 10rem;
}
#related2{
    width: 30rem;
    height: 10rem;
}
#related3{
    width: 30rem;
    height: 10rem;
}
#related4{
    width: 30rem;
    height: 10rem;
}
 */
